<% provide(:title, "Sign In") %>

<div class="container-fluid">
	<div class="row">
		<div class="contact-container-master col-xs-12">
			<h1>Sign In</h1>

			<div class="row">
				<div class="col-sm-offset-4 col-sm-4 col-xs-12">
					<%= form_for(:session, url: sessions_path) do |f| %>

					<%= f.label :email, "Email / Login" %>
					<%= f.text_field :email %>

					<%= f.label :password %>
					<%= f.password_field :password %>

					<%= f.submit "Se connecter", class: "btn btn-large btn-primary" %>
					<% end %>

					<p>
						New user ? <%= link_to "Register!", signup_path %>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
